* { 
    margin: 0px;
    padding: 0px;
   

}
.nav-link {
    
  
    
} 

ul {
    list-style-type: none;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}